section.listing {
  .listing_container {
    width: 100%;
    display: flex;
    flex-direction: column;

    .listings_img_container {
      display: flex;
      flex-direction: column;
      background-color: lightgrey;
      padding: 0 10px;
      margin: 10px 0;
      width: 100%;

      .listing_detail {
        padding: 0 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      .cta {
        display: flex;
        flex-direction: column;
      }
      @media (min-width: $screen-md) {
        flex-direction: row;
        .thumbnail {
          width: calc(100% / 3);
        }
        .listing_detail {
          width: calc((100% / 2) * 0.75);
        }
        .cta {
          width: calc((100% / 2) * 0.25);
        }
      }
    }
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

section.login-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;

  form {
    width: 100%;
    @media (min-width: $screen-md) {
      width: 50%;
    }
  }
}

section {
  .listing_form {
    > div {
      margin-bottom: 10px;
    }
  }
  .imageGallery_container {
    width: 100%;
    display: flex;
    flex-direction: column;

    .btn_container {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      gap: 10px;
      margin-bottom: 20px;
    }
    .imageGallery_field {
      > div {
        width: 100%;
        margin-bottom: 20px;
        @media (min-width: $screen-md) {
          width: calc(50% - (5px / 2));
          padding: 0 5px;
        }
      }
    }
  }
}
