header {
  min-width: 100vw;

  #navbar {
    max-width: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    justify-content: space-between;
    @media only screen and (min-width: $screen-md-min) {
      flex-direction: column;
      padding: 20px;
    }
    .navbar_logo {
      span {
        font-size: 1.5rem;
        @media only screen and (min-width: $screen-lg-min) {
          font-size: 2rem;
        }
      }
      svg {
        width: 184px;
        height: 128px;
        @media (min-width: $screen-md) {
          width: 200px;
          height: 200px;
        }
      }
    }
    .navbar_menu {
      display: none;
      gap: 20px;
      @media only screen and (min-width: $screen-md-min) {
        display: inline-flex;
      }
      .navbar_items {
        color: black;
        &:hover {
          transition: 0.3s ease-in-out;
          color: #1976d2;
        }
      }
    }
    .mobile_menu {
      z-index: 8;
      height: 24px;
      width: 30px;
      background: transparent;
      border: none;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 0;
      box-sizing: border-box;
      position: relative;

      &.fixed {
        position: fixed;
        top: 60px;
        right: 20px;
      }

      @media only screen and (min-width: $screen-md-min) {
        display: none;
      }

      span.hamburger_menu {
        z-index: 999;
        width: 30px;
        height: 2px;
        transition: transform 0.3s;
        position: relative;

        &.black {
          background-color: black;
        }
        &.white {
          background-color: white;
          &:nth-child(1) {
            transform: rotate(45deg);
            transform-origin: center;
          }
          &:nth-child(2) {
            transform: rotate(-45deg);
            transform-origin: center;
          }
          &:nth-child(1) {
            top: 0px;
          }

          &:nth-child(2) {
            top: -8px;
          }

          &:nth-child(3) {
            opacity: 0;
          }
        }
      }
    }
    .mobile_drawer {
      z-index: 5;
      position: fixed;
      top: 0;
      right: 0;
      width: 100vw;
      height: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      background-color: black;
      transition: 0.5s ease-in-out all;
      transform: translateX(100%);

      &.open {
        transform: translateX(0%);
      }
      &.close {
        transform: translateX(100%);
      }
      * {
        color: white;
        text-align: center;
      }

      .mobile_items {
        padding: 8px 0;
        * {
          margin: 0;
          padding: 0;
        }
      }
    }
  }
}
